aniso8601==9.0.0
attrs==20.3.0
click==7.1.2
dicttoxml==1.7.4
flake8==3.8.4
flasgger==0.9.5
Flask==1.1.2
Flask-RESTful==0.3.8
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
peewee==3.14.1
pycodestyle==2.6.0
pyflakes==2.2.0
pyrsistent==0.17.3
pytz==2021.1
PyYAML==5.4.1
six==1.15.0
Werkzeug==1.0.1
